<app-navbar> </app-navbar>

<div class="titulo">
  <h1>Integrantes do Grupo</h1>
</div>

<div class="integrantes">
  <h3>
    Felipe Santos da Silva <br />
    RA - 0050832011041
  </h3>
</div>

<div class="integrantes">
  <h3>
    Isabela Baraldi Gandelman <br />
    RA - 0050832011041
  </h3>
</div>

<div class="integrantes">
  <h3>
    Rene Silva Amorim de Padua <br />
    RA - 0050831921023
  </h3>
</div>

<div class="integrantes">
  <h3>
    Thais Barbosa da Silva <br />
    RA - 0050831921028
  </h3>
</div>
